<div class="navmenu-social">
   {{!Nav Social Button}}
    <a class="social-link bitbucket hidden" target="_blank"><i class="fa fa-bitbucket"></i></a>
    <a class="social-link deviantart hidden" target="_blank"><i class="fa fa-deviantart"></i></a>
    <a class="social-link facebook hidden" target="_blank"><i class="fa fa-facebook"></i></a>
    <a class="social-link flickr hidden" target="_blank"><i class="fa fa-flickr"></i></a>
    <a class="social-link github hidden" target="_blank"><i class="fa fa-github"></i></a>
    <a class="social-link instagram hidden" target="_blank"><i class="fa fa-instagram"></i></a>
    <a class="social-link linkedin hidden" target="_blank"><i class="fa fa-linkedin"></i></a>
    <a class="social-link pinterest hidden" target="_blank"><i class="fa fa-pinterest"></i></a>
    <a class="social-link soundcloud hidden" target="_blank"><i class="fa fa-soundcloud"></i></a>
    <a class="social-link twitch hidden" target="_blank"><i class="fa fa-twitch"></i></a>
    <a class="social-link twitter hidden" target="_blank"><i class="fa fa-twitter"></i></a>
    <a class="social-link vimeo hidden" target="_blank"><i class="fa fa-vimeo"></i></a>
    <a class="social-link youtube hidden" target="_blank"><i class="fa fa-youtube"></i></a>
</div>